![tera.png](images/tera.png)

# Aula #5 - Desafio em Grupo & Checkpoint #1

## Warm Up
Precisamos de seis robôs<br>
Levante a mão se você tem experiência com programação!

![robot.png](images/robot.png)<br>
### Parabéns! Você é o robô!

As demais pessoas devem se dividir em seis grupos. Cada grupo vai receber um objetivo que deve ser cumprido pelo robô<br>
O objetivo deve ser alcançado em 7 passos ou menos pelo robô e ele não pode saber qual o objetivo.

## Expectativas!
O que vocês esperam da aula de hoje?

![expectativas.png](images/expectativas.png)

## O que veremos hoje

* Lógica de programação
* Funções
* Tipos inputs
* Controles de fluxo
* Bibliotecas
* Python!

## O que não veremos hoje

- Machine Learning

![npte.gif](images/nope.gif)

## Software e Plataformas
![plat.png](images/plat.png)


## Recapitulando o DataCamp
![datacamp.png](images/datacamp.png)

## Linguagem de Programação

Quantas linguagem de programação existem?<br>
Quantas vocês conhecem? <br>
https://pt.wikipedia.org/wiki/Lista_de_linguagens_de_programa%C3%A7%C3%A3o <br>

## Por que Python?

![why.gif](images/why.gif)

### Em C

In [ ]:
#include <stdio.h>

int main(void)
{
    printf("hello, world\n");
}

### Em Java

In [ ]:
class HelloWorldApp {
    public static void main(String[] args) {
        System.out.println("Hello World!"); 
    }
}

### Em Python

In [1]:
print("Hello World")

Hello World

## Funções

O que precisamos para criar uma função em Python ...

In [2]:
# Crie uma função que retonar a saudação "Olá Nome!"
def welcome(nome) :
    return('Olá ' + nome + '!' )

In [3]:
# Teste sua função aqui!
welcome('Thales')

'Olá Thales!'

<br>Vamos criar uma função que é capaz de calcular a média de preço das minha viagens de uber

| Data|02/02/19|15/01/19|14/01/19|12/01/19|12/01/19|11/01/19|06/01/19|06/01/19|06/01/19|06/01/19|
|-----|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|
| R$  |  16,09 |  19,74 |  7,36  |  11,94 |  12,57 |  44,50 |  16,08 |  13,24 |  13,95 |  16,20 |

Como vocês escreveriam esses dados para que o Python consiga entender?

In [4]:
valor_uber = [16.09, 19.74, 7.36, 11.94, 12.57, 44.5, 16.08, 13.24, 13,95, 16.2]

Crie a função que calcula a média do valor das viagens de Uber

In [5]:
# To do
def media(x) :
    return(sum(x)/len(x))

In [6]:
# vamos testar
media(valor_uber)

24.156363636363633

Tá-daa! Conseguimos criar a função e ela fez o que nós queriamos. Qual alternativa podemos utilizar ao inves de criar uma a uma?

In [7]:
import numpy as np

In [8]:
np.mean(valor_uber)

24.156363636363633

## Ferramentas: If, elif, else, while, for e range

Se quisermos controlar como uma função vai se comportar dado uma situação em específico, podemosd usar controladores de fluxo, os quais vão ditar as regras do jogo dentro da nossa função

Podemos criar uma ferramenta que nos ajuda no dia-a-dia!

In [9]:
def semaforo(cor) :
    if cor == 'verde' :
        acao = 'Prosseguir!'
    elif cor == 'vermelho' :
        acao = 'Parar!'
    else :
        acao = 'Atenção!'
    return(acao)

In [10]:
semaforo('verde')

'Prosseguir!'

In [11]:
semaforo('vermelho')

'Parar!'

In [12]:
semaforo('amarelo')

'Atenção!'

In [13]:
semaforo('desligado')

'Atenção!'

Quais situações apresentadas a você seriam possíveis de resolver com essa ferramenta?

E se quisermos ser mais rigorosos com a segurança no transito?
Podemos sugerir para o motorista que ele pare tanto quando a cor for amarela ou vermelho, usando `or` dentro do `elif`

In [14]:
# To do
def semaforo(cor) :
    if cor == 'verde' :
        acao = 'Prosseguir!'
    elif cor == 'vermelho' or cor == 'amarelo':
        acao = 'Parar!'
    else :
        acao = 'Atenção!'
    return(acao)

In [15]:
semaforo('vermelho')

'Parar!'

In [16]:
semaforo('amarelo')

'Parar!'

Vamos fazer uma contagem regressiva para o semaforo mudar do vermelho para o verde? 

Quais condicionais vocês usariam para completar essa tarefa?

In [17]:
def contagem_regressiava_while(tempo) :
    while (tempo > 0) :
        print(tempo)
        tempo = tempo - 1
    print('Go go go!!!!')

In [18]:
contagem_regressiava_while(3)

3
2
1
Go go go!!!!

Podemos usar o `for` e o `range` para ter o mesmo efeito de contagem regressiva

In [19]:
def contagem_regressiva_for(tempo):
    for numero in range(tempo, 0, -1):
        print(numero)
    print('Go go go!!!!')

In [20]:
contagem_regressiva_for(3)

3
2
1
Go go go!!!!

## Desafio

Vamos fazer uma contagem regresiva reversa? Vamos fazer os números aparecerem na ordem crescente!

Coloque um `print` da sua escolha no final, para garantir que deu certo! Uhulllll!

In [21]:
def contagem_reversa(tempo):
    while tempo < 4:
        print(tempo)
        tempo = tempo + 1
    print("Go go go!!!!")

In [22]:
contagem_reversa(1)

1
2
3
Go go go!!!!

In [23]:
def contagem_reversa(tempo):
    for numero in range(1, tempo + 1, 1):
        print(numero)
    print("Go go go!!!!")

In [24]:
contagem_reversa(3)

1
2
3
Go go go!!!!

## Estruturas: strings, int, floats, listas, tuplas, conjuntos e dicionários

### Strings

Podemos declarar uma variável como uma `string` nomeando-a e colocando entre aspas

In [25]:
startup = 'tera'

In [26]:
print('Tipo: {0}'.format(type(startup)))

Tipo: <class 'str'>

In [27]:
startup

'tera'

Podemos acessar as letras específicas da palavra. Se quisermos acessar o `t` de tera, podemos fazer assim:

In [28]:
startup[0]

't'

Mas o `t` da Tera é maiusculo, vamos ver se posso muda-lo depois de declarar a variável

In [29]:
startup[0] = 'T'

TypeError: 'str' object does not support item assignment

Ops! As strings são imutáveis. Como podemos corrigi-las? Basta declara-la novamente

In [30]:
startup = 'Tera'

In [31]:
print(startup)

Tera

Onde as caracteristicas das `strings` podem influenciar no seu dia-a-dia?

### Tuplas

In [34]:
key_words = ('python', 'data science', 'machine learning', 'programação', 'jupiter')

In [35]:
print('Tipo: {0}'.format(type(key_words)))

Tipo: <class 'tuple'>

Poxa! Escrevi o nome do ambiente errado, ao invés de `Jupyter` escrevi `Jupiter`. 

Vamos tentar subistitui-lo!

In [36]:
key_words[0]

'python'

Em python, os índices começam em `zero`. Então no caso da `tupla` que criamos, a palavra `jupiter` está na no indice `4`

Porem, como ele é o último item da nossa tupla, podemos usar também o `-1`

In [37]:
key_words[4]

'jupiter'

In [38]:
key_words[-1]

'jupiter'

In [39]:
key_words[-1] = 'jupyter'

TypeError: 'tuple' object does not support item assignment

Assim como as `strings`, as `tuplas` são imutáveis. 

Como poderiamos inserir os nossos dados de forma que eles possam ser alterados?

In [5]:
#.
#.##
#.
key_words = ['python', 'data science', 'machine learning', 'programação', 'jupiter']

Agora quando tentamos substituir o erro de digitação do `jupyter`, temos sucesso!

In [41]:
key_words[-1] ='jupyter'

In [42]:
key_words

['python', 'data science', 'machine learning', 'programação', 'jupyter']

Ta-dá!

## Desafio
O que acontece se fizermos lista com tuplas, tuplas com listas, tuplas com tuplas e listas com listas?

E se quisermos editar, quais conseguimos, quais não?

In [43]:
# To do - Lista com tuplas
lct = [1, 'a', (1, 2)]

In [44]:
# To do - Tupla com lista
tcl = ('a', 1, ['tera', 'code'])

In [45]:
# To do - Tupla com tupla
tct = (1, 'pc', (4, 'X'))

In [46]:
# To do - Lista com lista
lcl = ['tera', 42, ['Oi', 55]]

Como vocês acham que isso pode afetar a vida de vocês?

### Dicionários

Vamos conhecer mais um jeito de organizar nossas informações em Python, são os dicionários

In [8]:
informacoes = {'Nome' : 'Thales',
               'Idade' : 25,
               'Idiomas' : ['PT-BR EN']}

In [9]:
informacoes[0]

KeyError: 0

In [13]:
informacoes['Nome']

'THALES'

### Conseguem separar somente o 'Tha' do meu nome?

In [17]:
informacoes['Nome'][0:3]

'THA'

### Como separar os idiomas em duas string e criar uma nova lista para o dicionário?

In [23]:
informacoes['Idiomas'] = informacoes['Idiomas'][0].split()

In [24]:
informacoes['Idiomas']

['PT-BR', 'EN']

In [27]:
# Nesse caso, como estamos acessando uma lista, primeiro selecionamos o índice
informacoes['Idiomas'][0]

'PT-BR'

In [28]:
#Caso queira imprimir somente uma parte do texto, após acessar o elemento da lista, é só selecionar os indices na palavra
informacoes['Idiomas'][0][3:]

'BR'

### Desafio

Faça com que o jupyter só mostre a palavra `Tera` do dicionário abaixo, em seguida subistitua-o por `Somos Tera`

In [30]:
desafio =  {'Cor' : ['Verde', 'Preto'], 'Casas' : [101, ('Olá', 1_044_34, ['2A', 9/3])], 'E@' : ['jupyter', 111, ['aret', (1, ['Tera'])]]}

In [31]:
desafio['E@'][2][1][1][0]

'Tera'

In [32]:
desafio['E@'][2][1][1][0] = 'Somos Tera'

In [33]:
desafio

{'Cor': ['Verde', 'Preto'],
 'Casas': [101, ('Olá', 104434, ['2A', 3.0])],
 'E@': ['jupyter', 111, ['aret', (1, ['Somos Tera'])]]}

![show.gif](images/show.gif)

## Vamos ao nosso primeiro Dataset do Bootcamp!

Vamos começar importando o Pandas!

In [2]:
import pandas as pd

Vamos fazer a leitura de um dataset sobre o YouTube, que está disponível no Kaggle<br>
https://www.kaggle.com/mdhrumil/top-5000-youtube-channels-data-from-socialblade/version/2

Algumas alterações foram feitas no dataset para facilitar o uso durante a aula. Essas manipulações podem ser encontradas no notebook chamado `Manipulando_Dataset`

In [3]:
# Crie uma DataFrame lendo o arquivo `youtube.csv`
df = pd.read_csv('../data/youtube.csv')

In [4]:
# To do - Visualize as primeiras linhas do DataFrame
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

## Desafio YouTube
Mostre os dados dos canais que tem mais vídeos, mais inscritos e o que tem mais visualizações<br>
Utilize o `pandas` para essa tarefa

In [102]:
mais_videos = df.loc[df['Video Uploads'] == df['Video Uploads'].max()]
mais_inscritos = df.loc[df['Subscribers'] == df['Subscribers'].max()]
mais_views = df.loc[df['Video views'] == df['Video views'].max()]

#### Os dados do canal com mais vídeos

In [103]:
# Mostre os dados dos canais com mais vídeos
mais_videos

         Rank Grade Channel name  Video Uploads  Subscribers  Video views
3453  3,454th   B+    AP Archive         422326       746325    548619569

#### Os dados do canal com mais inscritos

In [107]:
mais_inscritos

         Rank Grade Channel name  Video Uploads  Subscribers  Video views
1470  1,471st   A-     PewDiePie           3601     65995310  18684630003

#### Os dados do canal com mais views

In [105]:
mais_views

  Rank Grade Channel name  Video Uploads  Subscribers  Video views
1  2nd  A++      T-Series          12661     61196302  47548839843

Quais são os valores médios de cada um dos itens obtidos anteriormente em relação ao `dataset` utilizado<br>

#### Média de vídeos por canal

In [1]:
df.describe

NameError: name 'df' is not defined

In [127]:
df['Video Uploads'].mean()

3854.8321999999998

#### Média de inscritos por canal

In [134]:
df['Subscribers'].mean()

2417215.8144

#### Média de views por canal

In [135]:
df['Video views'].mean()

1071449400.15

## Desafio Final
### Mercado de Adquirencia (Fluxo da Informação)

![acquirer.png](images/acquirer.png)

![fluxo_informacao.png](images/fluxo_informacao.png)

## Considere esses bancos de dados de 3 emissores

In [2]:
# Banco de dados usuários de cartão para cada instituição

# Nubank
nubank_db = [
    {'id' : 4268, 'bandeira' : 'MasterCard', 'portador' : ["Thales", "Follador"],'senha': 5419,'saldo' : 1_300},
    {'id' : 4269, 'bandeira' : 'MasterCard', 'portador' : ["Marilia", "Teixeira"],'senha': 8521,'saldo' : 500},
    {'id' : 4270, 'bandeira' : 'MasterCard', 'portador' : ["João", "Silva"],'senha': 7894,'saldo' : 2_210},
    {'id' : 4271, 'bandeira' : 'MasterCard', 'portador' : ["Fabricio", "Antunes"],'senha': 1348,'saldo' : 10_554},
    {'id' : 4272, 'bandeira' : 'MasterCard', 'portador' : ["Roberta", "Caxias"],'senha': 4685,'saldo' : 999}
]
    
# Bradesco
bradesco_db =[
    {'id' : 1472, 'bandeira' : 'MasterCard', 'portador' : ["Renata", "Andrade"],'senha': 1415,'saldo' : 4_725},
    {'id' : 1473, 'bandeira' : 'Elo', 'portador' : ["Cleyton", "Rasta"],'senha': 3226,'saldo' : 102},
    {'id' : 1474, 'bandeira' : 'Visa', 'portador' : ["Wilson", "Tayar"],'senha': 7563,'saldo' : 10_852},
    {'id' : 1475, 'bandeira' : 'Elo', 'portador' : ["Fatima", "Bernardes"],'senha': 9514,'saldo' : 722},
    {'id' : 1476, 'bandeira' : 'MasterCard', 'portador' : ["Ailton", "Fernandes"],'senha': 1105,'saldo' : 1_355}
]

# Itaú
itau_db = [
    {'id' : 6652, 'bandeira' : 'MasterCard', 'portador' : ["Claudio", "Yamaguchi"],'senha': 8167,'saldo' : 158_300},
    {'id' : 6653, 'bandeira' : 'Visa', 'portador' : ["Leandro", "Herera"],'senha': 4587,'saldo' : 150_558_850},
    {'id' : 6654, 'bandeira' : 'Visa', 'portador' : ["Jhenifer", "DoTinder"],'senha': 1234,'saldo' : 2_210},
    {'id' : 6655, 'bandeira' : 'MasterCard', 'portador' : ["Maria", "Francisca"],'senha': 9514,'saldo' : 10_554},
    {'id' : 6656, 'bandeira' : 'MasterCard', 'portador' : ["Luisa", "Falcioni"],'senha': 1887,'saldo' : 12_254_555}
]

## Como estruturar o fluxo da informação durante uma transação
Se o cliente com os dados a seguir for passar o cartão, os dados devem ser verificados com o emissor para aprovar a transação. <br>
Dicas:
* Utilize funções
* Crie uma função para cada um dos participantes do fluxo da informação no pagamento
* Não esqueça de verificar se o saldo disponível é compativel com o valor da compra

## Façam em grupo!

In [3]:
# Dados do cartão do cliente e valor da transação

numero_do_cartao = 4268
portador = "Thales Follador"
emissor = "Nubank"
bandeira = "MasterCard"
senha = 5419
valor = 1000

## Função dos Emissores

In [4]:
def Nubank(numero_do_cartao, portador, senha, valor) :
    
    # Encontrando a posição no banco de dados
    for i in range(len(nubank_db)) :
        if (nubank_db[i]['id'] == numero_do_cartao) == True:
            index = i
        else :
            continue
        
    # Passo 1: Conferir nome e sobrenome do portador 
    # lembre-se de conferir nome e sobrenome separadamenteo
    user = portador.split()
    # Nome
    if user[0] == nubank_db[index]['portador'][0] :
        print('Nome Verificado')
    else :
        print('Nome Invalido')   
    # Sobrenome
    if user[1] == nubank_db[index]['portador'][1] :
        print('Sobreome Verificado')
    else :
        print('Sobrenome Invalido')
    
    # Passo 2: Conferir a senha
    if senha == nubank_db[index]['senha'] == senha :
        print('Senha Verificada')
    else :
        print('Senha Inválida')
    
    # Passo 3: Conferir saldo e fazer o update do valor
    if valor <= nubank_db[index]['saldo'] :
        nubank_db[index]['saldo'] = nubank_db[index]['saldo'] - valor
        print('Aprovado!')
    else :
        print('Saldo Insuficiente!')

## Função das Bandeiras

In [5]:
def MasterCard(emissor, numero_do_cartao, portador, senha, valor) :

    
    if emissor == 'Nubank' :
        Nubank(numero_do_cartao, portador, senha, valor)
        
    elif emissor == 'Bradesco' :
        Bradesco(numero_do_cartao, portador, senha, valor)
        
    else :
        Itau(numero_do_cartao, portador, senha, valor)

## Função das Adquirentes

In [6]:
def Stone(emissor, bandeira, numero_do_cartao, portador, senha, valor) :
    
    # Verificando qual bandeira será comunicada
    
    if bandeira == 'MasterCard' :
        MasterCard(emissor, numero_do_cartao, portador, senha, valor)
        
    elif bandeira == 'Visa' : 
        Visa(emissor, numero_do_cartao, portador, senha, valor)
        
    else :
        Elo(emissor, numero_do_cartao, portador, senha, valor)

In [8]:
Stone(emissor, bandeira, numero_do_cartao, portador, senha, valor)

Nome Verificado
Sobreome Verificado
Senha Verificada
Saldo Insuficiente!