# Manipulando o Dataset do Kaggle para a aula
Esse notebook é referente a edição do dataset para adequa-lo para a aula

Importando as bibliotecas

In [2]:
import pandas as pd

Lendo o dataset

In [3]:
df = pd.read_csv('data.csv')

Visualizando a base de dados

In [4]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

Verificando se existem valores nulos nos dados

In [5]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

Se observarmos a linha 17 do dataset, podemos ver que os valores igual a zero aparecerem com `-- `<br>
A coluna `Subscribers` contém esse exemplo

In [6]:
df.iloc[17]

Rank                        18th
Grade                        A+
Channel name     Vlad and Nikita
Video Uploads                 53
Subscribers                  --
Video views           1428274554
Name: 17, dtype: object

Vamos substituir todos os `-- ` por `0`<br>
Usaremos a função replace do pandas para isso

In [19]:
df['Video Uploads'].replace(to_replace='--', value=0, inplace=True)

In [20]:
df['Subscribers'].replace(to_replace='-- ', value=0, inplace=True)

In [21]:
df['Video views'].replace(to_replace='-- ', value=0, inplace=True)

Ferificando se existe mais `-- ` no dataset

In [22]:
df[df == '-- '].sum()

Rank             0.0
Grade            0.0
Channel name     0.0
Video Uploads    0.0
Subscribers      0.0
Video views      0.0
dtype: float64

Transformando os dados de `string` para `float`

In [34]:
df['Video Uploads'] = pd.to_numeric(df['Video Uploads']);
df['Subscribers'] = pd.to_numeric(df['Subscribers']);
df['Video views'] = pd.to_numeric(df['Video views']);

Podemos observar que todos os valores já foram substituidos<br>
Agora vamos salvar o arquivo no formato `.csv` para que o arquivo não precise ser manipulado novamente

In [41]:
df.to_csv('youtube.csv', index=False)